<div class="container">
  <div class="table-container">
    <div class="table-loader">
      <table class="table is-striped is-hoverable is-fullwidth">
        <thead class="table-header">
        <tr>
          <th class="name_column ">
            <div class="column-header">
              <span class="column-label">Route</span>
              <!----><span class="fa-stack fa-lg sort ">
                <i class="fa fa-sort-asc fa-stack-1x" aria-hidden="true"></i>
                <i class="fa fa-sort-desc fa-stack-1x" aria-hidden="true"></i>
              </span>
              <div class="filter dropdown" hidden="">
                <span class="fa-stack fa-lg dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-filter" aria-hidden="true"></i>
                </span>
                <ul class="dropdown-menu">
                </ul>
              </div>
            </div>
          </th><th class="status_column ">
          <div class="column-header">
            <span class="column-label">Depot</span>
            <!----><span class="fa-stack fa-lg sort ">
                <i class="fa fa-sort-asc fa-stack-1x" aria-hidden="true"></i>
                <i class="fa fa-sort-desc fa-stack-1x" aria-hidden="true"></i>
              </span>
            <div class="filter dropdown" hidden="">
                <span class="fa-stack fa-lg dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-filter" aria-hidden="true"></i>
                </span>
              <ul class="dropdown-menu">
              </ul>
            </div>
          </div>
        </th><th class="last_heartbeat_at_column ">
          <div class="column-header">
            <span class="column-label has-text-black">Vehicle No</span>
            <!----><span class="fa-stack fa-lg sort ">
                <i class="fa fa-sort-asc fa-stack-1x" aria-hidden="true"></i>
                <i class="fa fa-sort-desc fa-stack-1x active" aria-hidden="true"></i>
              </span>
            <div class="filter dropdown" hidden="">
                <span class="fa-stack fa-lg dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-filter" aria-hidden="true"></i>
                </span>
              <ul class="dropdown-menu">
              </ul>
            </div>
          </div>
        </th><th class="total_distance_column ">
          <div class="column-header">
            <span class="column-label">Conductor Id</span>
            <!----><span class="fa-stack fa-lg sort ">
                <i class="fa fa-sort-asc fa-stack-1x" aria-hidden="true"></i>
                <i class="fa fa-sort-desc fa-stack-1x" aria-hidden="true"></i>
              </span>
            <div class="filter dropdown" hidden="">
                <span class="fa-stack fa-lg dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-filter" aria-hidden="true"></i>
                </span>
              <ul class="dropdown-menu">
              </ul>
            </div>
          </div>
        </th><th class="total_duration_column ">
          <div class="column-header">
            <span class="column-label">Current Status</span>
            <!----><span class="fa-stack fa-lg sort ">
                <i class="fa fa-sort-asc fa-stack-1x" aria-hidden="true"></i>
                <i class="fa fa-sort-desc fa-stack-1x" aria-hidden="true"></i>
              </span>
            <div class="filter dropdown" hidden="">
                <span class="fa-stack fa-lg dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-filter" aria-hidden="true"></i>
                </span>
              <ul class="dropdown-menu">
              </ul>
            </div>
          </div>
        </th><th class="stop_duration_column ">
          <div class="column-header">
            <span class="column-label">Last Updated</span>
            <!----><span class="fa-stack fa-lg sort ">
                <i class="fa fa-sort-asc fa-stack-1x" aria-hidden="true"></i>
                <i class="fa fa-sort-desc fa-stack-1x" aria-hidden="true"></i>
              </span>
            <div class="filter dropdown" hidden="">
                <span class="fa-stack fa-lg dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-filter" aria-hidden="true"></i>
                </span>
              <ul class="dropdown-menu">
              </ul>
            </div>
          </div>
        </th><th class="location_disabled_duration_column ">
          <div class="column-header">
            <span class="column-label">Bus Stop</span>
            <!----><span class="fa-stack fa-lg sort ">
                <i class="fa fa-sort-asc fa-stack-1x" aria-hidden="true"></i>
                <i class="fa fa-sort-desc fa-stack-1x" aria-hidden="true"></i>
              </span>
            <div class="filter dropdown" hidden="">
                <span class="fa-stack fa-lg dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-filter" aria-hidden="true"></i>
                </span>
              <ul class="dropdown-menu">
              </ul>
            </div>
          </div>
        </th><th class="network_offline_duration_column ">
          <div class="column-header">
            <span class="column-label">Distance</span>
            <!----><span class="fa-stack fa-lg sort ">
                <i class="fa fa-sort-asc fa-stack-1x" aria-hidden="true"></i>
                <i class="fa fa-sort-desc fa-stack-1x" aria-hidden="true"></i>
              </span>
            <div class="filter dropdown" hidden="">
                <span class="fa-stack fa-lg dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-filter" aria-hidden="true"></i>
                </span>
              <ul class="dropdown-menu">
              </ul>
            </div>
          </div>
        </th><th class="num_actions_column ">
          <div class="column-header">
            <span class="column-label">Speed</span>
            <!----><span class="fa-stack fa-lg sort ">
                <i class="fa fa-sort-asc fa-stack-1x" aria-hidden="true"></i>
                <i class="fa fa-sort-desc fa-stack-1x" aria-hidden="true"></i>
              </span>
            <div class="filter dropdown" hidden="">
                <span class="fa-stack fa-lg dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-filter" aria-hidden="true"></i>
                </span>
              <ul class="dropdown-menu">
              </ul>
            </div>
          </div>
        </th><th class="num_actions_column ">
          <div class="column-header">
            <span class="column-label">Location</span>
            <!----><span class="fa-stack fa-lg sort ">
                <i class="fa fa-sort-asc fa-stack-1x" aria-hidden="true"></i>
                <i class="fa fa-sort-desc fa-stack-1x" aria-hidden="true"></i>
              </span>
            <div class="filter dropdown" hidden="">
                <span class="fa-stack fa-lg dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-filter" aria-hidden="true"></i>
                </span>
              <ul class="dropdown-menu">
              </ul>
            </div>
          </div>
        </th><th class="num_actions_column ">
          <div class="column-header">
            <span class="column-label">Gps Disabled</span>
            <!----><span class="fa-stack fa-lg sort ">
                <i class="fa fa-sort-asc fa-stack-1x" aria-hidden="true"></i>
                <i class="fa fa-sort-desc fa-stack-1x" aria-hidden="true"></i>
              </span>
            <div class="filter dropdown" hidden="">
                <span class="fa-stack fa-lg dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-filter" aria-hidden="true"></i>
                </span>
              <ul class="dropdown-menu">
              </ul>
            </div>
          </div>
        </th><th class="num_actions_column ">
          <div class="column-header">
            <span class="column-label">Network Offline</span>
            <!----><span class="fa-stack fa-lg sort ">
                <i class="fa fa-sort-asc fa-stack-1x" aria-hidden="true"></i>
                <i class="fa fa-sort-desc fa-stack-1x" aria-hidden="true"></i>
              </span>
            <div class="filter dropdown" hidden="">
                <span class="fa-stack fa-lg dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-filter" aria-hidden="true"></i>
                </span>
              <ul class="dropdown-menu">
              </ul>
            </div>
          </div>
        </th>
        </tr>
        </thead>
        <!----><tbody class="table-body " style="">
      <!----><tr *ngFor="let result of results" class="">
        <td class=" ">
              <span>
                {{result.name}}
              </span>
        </td>
        <td class=" ">
          <span>2</span>
        </td>
        <td class=" ">
          <span>{{result.phone}}</span>
        </td>
        <td class=" ">
          <span>{{result.lookup_id}}</span>
        </td>
        <td class=" ">
          <span>{{result.display.status_text}}</span>
        </td>

        <td class="">
          <span>{{result.display.sub_status_text}} {{result.last_heartbeat_at | timeString}} {{result.last_heartbeat_at | dateString}} </span>
        </td>
        <td class=" ">
          <span>7</span>
        </td>
        <td class=" ">
              <span>
                {{ result.total_distance | distanceLocale}}
              </span>
        </td>
        <td class=" ">
              <span>
                <span *ngIf="result.display.speed==null">null</span>
                {{result.display.speed}}
              </span>
        </td>
        <td class=" ">
          <span>{{result.address}}</span>
        </td>
        <td class=" ">
              <span>
                <span *ngIf="result.location_disabled_duration==null">Disabled</span>
                <span *ngIf="result.location_disabled_duration!=null"> Connected </span>

              </span>
        </td>
        <td class=" ">
              <span> {{result.status}}
              </span>
        </td>
      </tr>
      </tbody>
      </table>
    </div>

  </div>
  <div class="has-text-centered is-size-4" *ngIf="loading$ | async">
    Loading
  </div>
</div>
